<li [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts > 0,
'list-group-item-danger': loveIts < 0 }">
    <div class="col-xs-12"> 
        <div class="col-xs-6 " > <h2 class="pull-left" [ngStyle]="{'color': getColor()}"  > {{title}} </h2></div>
        <div class="col-xs-6" > <h4 class="pull-right" > {{created_at  | date: 'short'}} </h4> </div>
    </div>
   
    <h4>
      {{content}} <br> 
     </h4>

      <button class="btn btn-success"
              (click)="onLoveit(e = 'loveIts')"> loveIts</button> 

      <button class="btn btn-danger"
              (click)="onLoveit(e = 'dontloveIts')" > loveIts</button>
   
  </li>