<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur mon {{ title }} !
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-PostListComponent *ngFor="let post of posts"
                                [title] = post.title
                                [content] = post.content></app-PostListComponent>
      </ul>
    </div>
  </div>
</div>


